<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Quicksand:wght@300&display=swap" rel="stylesheet"> -->

    <title> Login Reg </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="main_container">
        <img src="https://i.ibb.co/HGv8qvV/wish-list.png" alt="wish-list" border="0" style="width: 300px; margin-left: 50px; padding: 40px;"></a>
        <hr>
        <div class="invalid_text">
            {% if messages %}
            <ul class="invalid_list">
                {% for message in messages %}
                <li class="invalid_text">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="reg_form_1" style="width: 450px; padding: 20px 50px 0px 50px; height: 500px; background-color: #FF1261; border-radius: 15px; margin-left: 100px;">
                <p class="reg_form_title" style="margin-top: 40px; font-size: 30px; font-weight: 500; color: white;"> { register } </p>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <table class="reg_form_2" style="width: 350px; margin-top: -40px;">
                        <tr>
                            <td style="color:white; font-size: 16px; padding-top: 10px;"> First Name </td>
                            <td><input type="text" placeholder="First Name" name="first_name" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <tr>
                            <td style="color:white; font-size: 16px; padding-top: 10px;"> Last Name </td>
                            <td><input type="text" placeholder="Last Name" name="last_name" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <tr>
                            <td style="color:white;font-size: 16px; padding-top: 10px;"> Email </td>
                            <td><input type="text" placeholder="Email" name="email" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <tr>
                            <td style="color:white;font-size: 16px; padding-top: 10px;"> Password </td>
                            <td><input type="password" placeholder="Password" name="password" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <tr>
                            <td style="color:white;font-size: 16px; padding-top: 10px;"> Confirm Password </td>
                            <td><input type="password" placeholder="Confirm Password" name="confirm_password" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <br>
                        <br>

                    </table>
                    <input type="submit" value="Register" style="margin-top: 20px; width: 100px; height: 40px; background-color: white; color: black; float: right;">
                </form>
            </div>

            <div class="reg_form_1" style="width: 400px; padding: 20px 50px 0px 50px; height: 400px; background-color: white; border: 5px #FF1261 solid; border-radius: 15px; margin-left: 50px;">
                <p class="login_form_title" style="font-size: 30px; font-weight: 500; color: #FF1261; margin-top: 40px;"> { Login } </p>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <table class="reg_form_table" style="width: 300px; margin-top: -40px;">
                        <tr>
                            <td style="color: #FF1261; font-size: 16px; padding-top: 10px;"> Email</td>
                            <td><input type="text" name="email" placeholder="Email" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <tr>
                            <td style="color: #FF1261; font-size: 16px; padding-top: 10px;"> Password</td>
                            <td><input type="password" name="password" placeholder="Password" style="width: 200px; padding: 5px; float: right;"></td>
                        </tr>
                        <br>
                        <br>
                    </table>
                    <input type="submit" value="Login" style="margin-top: 20px; width: 100px; height: 40px; background-color: black; color: white; float: right;">
                </form>
            </div>
        </div>
    </div>
</body>

</html>